html {
    &[dir="rtl"] {
       .reset-password{
        .login-modal__right--form .form-width{
            text-align: right;
        }
       }
        
        
        
    }
}   

.reset-password{
    background-color: $body-background;
    .reset-area{
        .modal-content{
            background-color: $body-background;
            border: 0;
            
            .login-modal__left{
                    padding: 15px;
                    @include mx-576{
                        display: none !important;
                       
                    }
                    background-color: $body-background;
                    background-image: none;
                   
                }
                .login-modal__right{
                    background-color: $body-background;
                    padding-top: 30px;
                    .form-elements{
                        padding-top: 30px;
                    }
                    .main-heading{
                        @include mx-991{
                            font-size: 1.25rem;
                        }
                    }
                    .password-link-text{
                        color: $breadcrumb-color;
                        padding-bottom: 30px;
                        
                        @include mx-991{
                            font-size: 0.75rem;
                        }
                        
                    }
                    
                }
                .common-button{
                    width: 100%;
                }
            }
        }
    }
