html {
    &[dir="rtl"] {
        .language-dropdown{
            .lang-list{
                left: 70px;
                right: inherit;
                .lang{
                    padding-right: 0;
                    .cont-name{
                        right: 62px;
                    }
                }
            }
        }
    }
}

.shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.language-dropdown {
    // display: inline-block;
    width: 40px;
    height: 30px;
    .lang-en {
        .flag {
            background-image: url(../../app/images/usa.png);
        }
    }
    .lang-pt {
        .flag {
            background-image: url(../../app/images/saudi_arabia.png);
        }
    }
    .lang-es {
        .flag {
            background-image: url(../../app/images/france.png);
        }
    }
    label,
    ul li {
        display: block;
        width: 40px;
        height: 40px;
        background: #fff;
        padding: 0px 6px;
        cursor: pointer;
        @include mx-767 {
            width: 40px;
            height: 32px;
            position: relative;
            // margin-top: 5px;
        }
    }
    ul.lang-list {
        @extend .shadow-1;
        position: relative;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        background-color: $body-background;
        right: 70px;
        li {
            border-bottom: 1px solid #ececec;
            &:last-child {
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            &.selected {
                display: none;
            }
        }
    }
    label {
        @extend .shadow-1;
        position: relative;
        border-bottom: 1px solid #ececec;
        border-radius: 3px;
        z-index: 2;
    }
    .lang-flag,
    .lang-list .lang {
        .flag {
            float: left;
            width: 100%;
            height: 100%;
            cursor: pointer;
            background-size: 35px 35px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .cont-name {
            position: absolute;
            font-size: 0.875rem;
            left: 62px;
            top: 10px;
        }
    }
    &.open {
        ul.lang-list {
            visibility: visible;
            opacity: 1;
        }
        label {
            @extend .shadow-2;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}
.animate {
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.lang-flag,
.lang-list {
    @extend .animate;
}


// /multiselect box for add company css code
.select2-container{
    margin-top: 12px !important;
}
.select2-container--default .select2-selection--multiple{
    background-color: transparent !important;
    border: 1px solid #8BA1B2 !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered{
    font-size: 12px;
}
.select2-container--default .select2-results>.select2-results__options{
    font-size: 12px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    background-color: transparent !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #0F73BB !important;
    border: 1px solid #0F73BB !important;
    color: #fff !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    font-size: 15px !important;
    color: #fff !important;
    border-right: 1px solid #fff !important;
}
.multi-select{
    font-size: 12px;
    padding: 8px 5px !important;
}
.select2-container--default .select2-selection--multiple{
    padding-top: 2px !important;
}

