html{
    &[dir="rtl"]{
        .password-link-text{
            text-align: right !important;
        }
        .login-name{
            text-align: right;
        }
        .login-modal {
            .grey-close{
                left: -12px;
                border-top-left-radius: 15px;
                border-bottom-left-radius:15px;
                border-top-right-radius:auto;
                right: auto;
            }
            .grey-border{
                border-top-left-radius:15px;
                border-top-right-radius: 0;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 0;
            }
            &__right{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                .form-check{
                    padding-left: 0 !important;
                    .form-check-label{
                        margin-right: 20px;
                        input{
                            position: absolute;
                            right: 0;
                            @include mx-767{
                                position: relative;                          
                            }
                        }
                    }
                }
                .login-bottom-buttons{
                    .privacy-policy-grid{
                        .i2b{
                            img{
                                margin-right: .5rem;
                                margin-left: 0 !important;
                            }

                        }
                    }
                }
            }
            &__left{
                border-top-left-radius: 0;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 15px;
                .heading-one{
                    text-align: right;
                }
                .sub-heading{
                    width: 100%;
                    padding-left: 40%;
                }
                .login-social{
                    width: 100%;
                    left: 0;
                    text-align: right;
                }
            }
        }
    }
}

// html rtl ends here





.forgot-password-area{
    .modal-dialog{
        .modal-content{
            background-color: $white;
            .login-modal{
                &__left{
                    padding: 15px;
                    @include mx-576{
                        display: none !important;
                       
                    }
                    background-color: $white;
                    background-image: none;
                   
                }
                &__right{
                    .main-heading{
                        @include mx-991{
                            font-size: 1.25rem;
                        }
                    }
                    .password-link-text{
                        color: $breadcrumb-color;
                        padding-right: 15px;
                        @include mx-767{
                            padding-right: 0;
                        }
                        padding-bottom: 30px;
                        
                        @include mx-991{
                            font-size: 0.75rem;
                        }
                        
                    }
                }
            }
        }
    }
}