html {
    &[dir="rtl"] {

        .footer-area{
            .footer-top{
                text-align: right;
            }
            .footer-bottom {
                text-align: right;
                .input-group {
                    .form-control:not(:last-child){
                        border-top-right-radius: 4px;
                        border-top-left-radius: 0px;
                        
                        border-bottom-right-radius: 4px;
                        border-bottom-left-radius: 0px;
                    }
                    .input-group-append{
                         .input-group-text{
                            border-top-left-radius: 4px;
                            border-top-right-radius: 0;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 0;
                         }
                    } 
                } 
                
            }
            .footer-bottom__elements{
                li{
                    .call-footer{
                        padding-right: 20px;
                        padding-left: 0;
                        &::before{
                            right: 0;
                            left: auto;
                            }
                        }
                        .fax-footer{
                            padding-right: 20px;
                            padding-left: 0px;
                            margin-right: auto;
                            margin-left: 0;
                            &::before{
                                right: 0;
                                left: auto;
                            }
                        }
                       
                    
                }

                .map-footer{
                    padding-left: 0;
                    padding-right: 20px;
                    &::before{
                        right: 0;
                        left: auto;
                    }
                }
            } 

            
            .footer-copywrite{
                
                &__left{
                    ul{
                       
                        li{
                            &:after{
                                right: 0;
                                
                            }
                           
                            &:first-child{
                                padding-right: 0;
                                padding-left: 10px;
                                
                            }
                           
                           
                        }
                    }
                }
         
            } 
             
        }
        .footer-area .footer-bottom .footer-copywrite .footer-socialicons li{
            padding-right: 0;
            padding-left: 20px;
        }
        // .footer-area .footer-copywrite__left ul li:last-child {
        //     &:after{
        //         width: 0;
        //     }
        // }
           
        
    } 
    
}




.footer-area{
    background-color: $footer-back-top;
    .sub-heading{
        font-size: 1.125rem;
        @include mx-991{
            font-size: 1rem;
        }
    }
    a{
        font-size: 0.75rem;
        font-weight: 600;
    }
    
    .footer-top{
    padding-top: 40px;
    padding-bottom: 20px;
       
        
        &__elements{

            &--menu{
                a{
                    color: rgba(255, 255, 255, 0.7);
                    transition: all .2s ease-in-out;
                   

                } 
                a:hover{
                      
                        transition: 0.3s;
                        color: $white;
                   
                }
                li{
                    margin-bottom: 15px;
                    @include mx-767{
                        margin-bottom: 5px;
                    }
                   
                }
            }
        }
    }
    .footer-bottom{
        background-color: $primary-color;
        padding-top: 40px;
        padding-bottom: 20px;
        ::placeholder{
            color: $footer-anchor-color !important;
        }
        .form-control{
            padding: 15px 25px;
            font-size: 0.875rem;
            
            font-weight: 400;
           
            line-height: 1.5;
            color: $footer-anchor-color;
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
           
        }
        .input-group-text{
            background-color: $secondary-color;
            padding: 7px 25px;
            border: 0;
            color: $white;
            transition: all .2s ease-in-out;
            a{
                font-size: 0.875rem;
                @include mx-991{
                    font-size: 0.75rem;
                }
                color: white;
            }
            &:hover{
                background-color: $white;
                transform: scale(1); 
                color: $secondary-color; 
                a{
                    color: $secondary-color;
                }
               
            }
           
        }
        
        &__elements{
            li{
                 a{
                    color: $footer-anchor-color;
                }
                .call-footer{
                    position: relative;
                    padding-left: 20px;
                    &::before{
                        @include footer-call;
                        }
                }
                
                .fax-footer{
                    position: relative;
                    padding-left: 20px;
                    margin-left: auto;
                    &::before{
                        @include footer-fax;
                    }
                }
               
               
            }
            .map-footer{
                position: relative;
                padding-left: 20px;
                &::before{
                    @include map-footer;
                    
                }
               
            }
            
           
            
        }
        .subscribe-form-footer{
            p{
                font-size: 0.75rem;
                @include mx-576{
                    font-size: 0.625rem;
                }
                
                color: #C9D6DB;
            }
            .i2b{
               
               @include i2b;
               
            }
        }

        .footer-copywrite{
            .no-padding{
                @include no-padding;
            }
            &__left{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        padding-right: 10px;
                        padding-left: 10px;
                        @include mx-400{
                           padding-left: 5px;
                           padding-right: 5px;
                        }
                        position: relative;
                        &::after{
                            content: "";
                            height: 12px;
                            width: 1px;
                            position: absolute;
                            display: block;
                            top: 42%;
                            left: 0;
                            background-color: $copywrite-text;

                        }
                        &:first-child{
                            padding-left: 0;
                            &:after{
                                width: 0;
                            }
                        }
                        a{
                            color: $copywrite-text;
                            @include mx-400{
                                font-size: 0.563rem;
                            }
                           
                            &:hover{
                                color: $white;
                            }
                        }
                    }
                }
            }
            .footer-socialicons{
                display: flex;
                margin-bottom: 0;
                margin-top: 10px;
                li{
                    display: flex;
                    padding-right: 20px;
                    img{
                        transition: all .2s ease-in-out;
                        &:hover{
                            transform: translateY(-2px);
                            transition: 0.3s;
                            }
                    }
                }
            }
        }
        

    } 
    
}
