html{
    &[dir="rtl"]{
        .invest-business-network{
            text-align: right;
        }
        .invest-business-network .custom-images-network{
            text-align: left;
        }
        .invest-business-network .business-content .network-image{
            float: right;
            padding: 0 0 15px 15px;
        }
    }
}

.invest-business-network{
    .business-content{
        color: $tab-content-area;
        line-height: 1.5;
        font-weight: 600;
        .network-image{
            padding: 0 15px 15px 0;
            float: left;
            @include mx-400{
                width: 100%;
            }
        }
    }
    .investment-post{
        // display: flex;
        // justify-content: space-between;
        img{
            @include mx-576{
                width: 100%;
            }
        }
    }
    &__left{
        // background-image: url(../images/investment.png);
        // width: 100%;
        // height: 100%;
        // background-size: cover;
        // background-repeat: no-repeat;
    }
    &__bottom{
        ul{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            .circle-fb{
                @include social-circle;
                border: 1px solid #FFA51E;
            }
            .circle-mail{
                @include social-circle;
                border: 1px solid #35A85E;
            }
            .circle-msg{
                @include social-circle;
                border: 1px solid #0F73BB;
            }
            .circle-send{
                @include social-circle;
                border: 1px solid #E40019;
            }
        }
    }
    .custom-images-network{
        text-align: right;
    }
}