// Fonts
$primary-font: 'Lato', sans-serif;

// Color
$primary-color: #17344A;
$black: black;
$secondary-color: #0F73BB;
$grey: #8BA1B2;
$grey-opacity: rgba(139, 161, 178, 0.4);
$white: #FFFFFF;
$body-background: #F7F8FC;
$accordian-text: #8A969B;
$green: #35A85E;
$nav-color: #8BA1B2;
$nav-border-top: #A5BDC6;
$breadcrumb-color: #0F2333;
$searchengine-border: #7D8D93;
$tab-content-area: #445460;
$footer-back-top: #213D52;
$copywrite-text: #C9D6DB;
$privacy-btn: #E8ECFA;
$mx-1200: 1200px;
$mx-991: 991px;
$mx-767: 767px;
$mx-576: 576px;
$mx-430: 430px;
$mx-400: 400px;
$footer-anchor-color: rgba(199, 202, 205, 0.7);
$table-fonts: #1D2021;
$yellow: #FFB400;
$red: #E50019;
$feedback: #dc3545;
// Container and Grid Spacing
$container-width: 1170px;
$grid-space: 15px;

// path
$images-path: "../images" !default;
// icomoon
